<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iothubtotwins20230411173424.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/66c9b9f2-f004-4ddf-8aeb-bdf1732b048e/resourcegroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/IoTHubtoTwins20230411173424</ResourceId>
    <UserName>$IoTHubtoTwins20230411173424</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://iothubtotwins20230411173424.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>